@import "tailwindcss";

:root {
  --font-dm-sans: 'DMSans', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  
  /* Colores de la marca */
  --primary-50: rgb(238 247 247);
  --primary-100: rgb(206 233 233);
  --primary-200: rgb(175 218 218);
  --primary-300: rgb(143 204 204);
  --primary-400: rgb(112 189 189);
  --primary-500: rgb(80 175 175);
  --primary-600: rgb(66 143 143);
  --primary-700: rgb(52 112 112);
  --primary-800: rgb(37 80 80);
  --primary-900: rgb(22 49 49);
  --primary-950: rgb(8 17 17);
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-dm-sans);
  background: white;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--gray-dark));
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.1em;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }

  h1 {
    font-size: 3.052em;
  }

  h2 {
    font-size: 2.441em;
  }

  h3 {
    font-size: 1.953em;
  }

  h4 {
    font-size: 1.563em;
  }

  h5 {
    font-size: 1.25em;
  }
}